<div *ngIf="!isLoading && questao" class="container p-4">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-8 position-relative">
      
      <a (click)="voltar()" class="btn btn-outline-secondary mb-2 d-inline-flex align-items-center gap-2 rounded-3 px-3" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Voltar para a busca
      </a>

      <app-question-card
          [questao]="questao"
          [mostrarResultado]="mostrarResultado"
          [ehCorreto]="ehCorreto"
          [bloquearInteracao]="mostrarResultado"
          [alternativaSelecionada]="alternativaSelecionada"
          [exibirBotaoResponder]="true" 
          (mudouOpcao)="alternativaSelecionada = $event"
          (acaoResponder)="verificarResposta()">
      </app-question-card>

      <div class="position-absolute d-none d-lg-block text-center"
       style="top: 150px; left: 100%; width: 120px; margin-left: 10px; z-index: 10;">
        <button type="button" class="btn btn-light border rounded-circle d-flex align-items-center justify-content-center" 
                style="width: 50px; height: 50px; margin: 0 auto;"
                (click)="abrirModalSimulado()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
        <div class="small text-muted mt-2">Adicionar<br>ao simulado</div>
      </div>

      <div class="d-lg-none position-absolute" style="top: 65px; right: 20px; z-index: 5;">
        <button (click)="abrirModalSimulado()" 
                type="button" 
                class="btn btn-light border shadow-sm rounded-circle d-flex align-items-center justify-content-center"
                style="width: 42px; height: 42px; background-color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2563eb" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
      </div>

    </div>
  </div>
</div>

<app-simulado-add-question-modal
  *ngIf="exibirModalSelecao"
  [questaoId]="questaoSelecionadaId!"
  (close)="exibirModalSelecao = false"
  (confirm)="adicionarAoSimulado($event)"
  (openCreate)="irParaCriarSimulado()">
</app-simulado-add-question-modal>

<app-simulado-create-modal
  *ngIf="exibirModalCriacao"
  (close)="exibirModalCriacao = false"
  (confirm)="onSimuladoCriado($event)">
</app-simulado-create-modal>