.lista-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h2 {
  font-size: 28px;
  font-weight: 600;
}

.btn-novo {
  background: #2563eb;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.btn-novo:hover {
  background: #1e4fcf;
}

.simulados-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.simulado-card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 2px 8px #00000010;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.tag {
  background: #f3f4f6;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 12px;
  color: #4b5563;
}

.titulo {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.descricao {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 20px;
  line-height: 1.4;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-size: 14px;
  color: #6b7280;
}

.btn-responder {
  background: #2563eb;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-responder:hover {
  background: #1e4fcf;
}

.acoes {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  align-items: center;
}

.btn-excluir {
  background-color: #d9d9d9; 
  color: #000000; 
  border: none;
  border-radius: 8px; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-excluir:hover {
  background-color: #d32f2f;
  color: white;
  border-color: #d32f2f;
}

.btn-editar-topo {
  position: absolute;
  top: 15px;    
  right: 15px;  
  background-color: transparent;
  color: #adb5bd; /* Cinza claro */
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-editar-topo:hover {
  background-color: #e9ecef;
  color: #0d6efd; /* Azul */
  transform: scale(1.1);
}