<div class="auth-page-container">
  <div class="auth-box">
    
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <h2>Esqueceu sua senha?</h2>
    <p class="subtitle">Informe seu e-mail para receber um link de redefinição.</p>

    <form (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="email">Endereço de e-mail</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="email@exemplo.com"
          required 
          autocomplete="email"
        >
      </div>

      <button type="submit" class="btn-primary" [disabled]="loading">
        <span *ngIf="!loading">Enviar Link de Redefinição</span>
        <span *ngIf="loading">Enviando Link...</span>
      </button>

      <div class="link-footer">
        <a [routerLink]="['/auth/login']">Voltar ao Login</a>
      </div>
    </form>
  </div>
</div>