:host {
  display: block;
}

.content-wrapper {
  padding-bottom: 0; 
}


app-footer {
  display: block;
  width: 100%;
  background-color: #FAFAFA;
}


@media (max-width: 991px) {
  app-footer {
    padding-bottom: 120px; 
  }
}

@media (min-width: 992px) {
  app-footer {
    padding-bottom: 0; 
  }
}