/* Conteúdo para adicionar em src/styles.css */
body {
  /* Empurra todo o conteúdo do site para baixo
     para dar espaço para o header fixo */
    padding-top: 80px; 
    font-family: "DM Sans", sans-serif;
}

  
