/* :host se refere ao próprio componente <app-question-list> */
:host {
  display: block; 
  background-color: #FAFAFA; 
  width: 100%;
  min-height: 100%; 
}

.btn-ver-questao {
  background-color: #F7F7F7; 
  color: #495057; 
  border: 1px solid #00000051;   
  transition: all 0.2s ease-in-out;
}

.search-input {
  padding: 0.75rem 1.25rem;
  background-color: #F3F4F6;
  font-size: 15px;
  height: 60px;
}

.search-button {
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  height: 55px;
}

.question-id-text {
  font-size: 12px;
}

.markdown-content p {
  margin-bottom: 0; /* Remove a margem extra de parágrafo */
}

.markdown-content strong {
  /* Garante que o negrito tenha a cor certa */
  color: #000; 
}

.truncate-enunciado {
  /* Limita o texto a 3 linhas */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Esconde o texto que "vazar" */
  text-overflow: ellipsis; /* Adiciona o "..." no final */
  min-height: 60px; 
}

.truncate-enunciado p {
  margin-bottom: 0;
}

:host ::ng-deep .citation-text {
    font-size: 0.75rem;
    color: #9CA3AF;     
    margin-top: 0.5rem; 
    font-style: italic; 
    display: block;    
    margin-bottom: 10px;
}

:host ::ng-deep .badge {
    font-weight: 500;
    font-size: 0.75rem;
}

::ng-deep .katex .vlist > span {
    margin-top: -0.7em !important; 
}

.filter-mobile {
  box-shadow: none !important;
  border: none !important;
}

.search-group {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  transition: all 0.2s;
}

.search-group:focus-within {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.search-group .form-control {
  border: none;
  font-size: 0.9rem;
}

.search-group .input-group-text {
  color: #64748b;
}

@media (max-width: 576px) {
  .search-input {
    font-size: 16px !important; 
    height: 50px;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    height: 50px;
  }

  ::ng-deep .pagination .page-link {
    padding: 6px 9px !important; 
  }
  
  ::ng-deep .pagination {
    flex-wrap: nowrap !important;
    justify-content: center;
  }
}