<div class="perfil-container">

  <div class="perfil-card">
    <div class="info-area">
      <h2>Meu Perfil</h2>

      <div *ngIf="isLoading">Carregando dados...</div>

      <ng-container *ngIf="usuario">
      <div class="campo">
        <label>Nome</label>
        <input type="text" [(ngModel)]="usuario.nome" />
      </div>

      <div class="campo">
        <label>E-mail</label>
        <input type="email" [(ngModel)]="usuario.email" />
      </div>

      <div class="campo">
        <label>Curso</label>
        <input type="text" [(ngModel)]="usuario.curso"  />
      </div>
      </ng-container>

      <div class="botoes">
        <button class="btn-editar" (click)="salvarPerfil()">
             Editar dados
          </button>
        <button class="btn-sair" (click)="logout()">Sair</button>
      </div>
    </div>
  </div>

</div>
